# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
.vscode/launch.json

# dependencies
node_modules/
functions/node_modules/

# firebase
firebase-debug.log
