<div class="sp-sidebar-nav">
  <span class="card-label">LISTENING PRACTICE</span>
  <ul class="sp-sidebar-list">
    <li><a href="/sproochentest-listening-practice/" class="{% if page.url == '/sproochentest-listening-practice/' %}sp-active{% endif %}">Overview</a></li>
    <li><a href="/sproochentest-listening/meng-lescht-vakanz/" class="{% if page.url == '/sproochentest-listening/meng-lescht-vakanz/' %}sp-active{% endif %}">1. Meng Lescht Vakanz</a></li>
    <li><a href="/sproochentest-listening/sangen/" class="{% if page.url == '/sproochentest-listening/sangen/' %}sp-active{% endif %}">2. Sangen</a></li>
    <li><a href="/sproochentest-listening/fitness/" class="{% if page.url == '/sproochentest-listening/fitness/' %}sp-active{% endif %}">3. Fitness</a></li>
    <li><a href="/sproochentest-listening/op-wunnengssich/" class="{% if page.url == '/sproochentest-listening/op-wunnengssich/' %}sp-active{% endif %}">4. Op Wunnengssich</a></li>
    <li><a href="/sproochentest-listening/bank-restaurant/" class="{% if page.url == '/sproochentest-listening/bank-restaurant/' %}sp-active{% endif %}">5. Bank / Restaurant</a></li>
    <li><a href="/sproochentest-listening/all-dag/" class="{% if page.url == '/sproochentest-listening/all-dag/' %}sp-active{% endif %}">6. All Dag</a></li>
    <li><a href="/sproochentest-listening/alldag-mat-kanner/" class="{% if page.url == '/sproochentest-listening/alldag-mat-kanner/' %}sp-active{% endif %}">7. Alldag mat Kanner</a></li>
    <li><a href="/sproochentest-listening/kleng-accidenter/" class="{% if page.url == '/sproochentest-listening/kleng-accidenter/' %}sp-active{% endif %}">8. Kleng Accidenter</a></li>
  </ul>
  <a href="/sproochentest/" class="sp-sidebar-back">← Back to Sproochentest</a>
</div>
