<div class="sp-newsletter sp-newsletter-desktop">
  <span class="card-label">STAY UPDATED</span>
  <p class="sp-newsletter-desc">Receive all Sproochentest updates, new topics, and practice materials in your inbox.</p>
  <div class="newsletter-embed">
    <script async src="https://subscribe-forms.beehiiv.com/v3/loader.js" data-beehiiv-form="{{ site.data.firebase.beehiiv_desktop }}"></script>
  </div>
</div>
<div class="sp-newsletter sp-newsletter-mobile">
  <div class="newsletter-embed">
    <script async src="https://subscribe-forms.beehiiv.com/v3/loader.js" data-beehiiv-form="{{ site.data.firebase.beehiiv_mobile }}"></script>
  </div>
</div>
