<div class="sp-newsletter sp-newsletter-desktop">
  <span class="card-label">STAY UPDATED</span>
  <p class="sp-newsletter-desc">Receive all Sproochentest updates, new topics, and practice materials in your inbox.</p>
  <div class="newsletter-embed">
    <script async src="https://subscribe-forms.beehiiv.com/v3/loader.js" data-beehiiv-form="d805d78f-acff-4c2b-b871-fe65ff327886"></script>
  </div>
</div>
<div class="sp-newsletter sp-newsletter-mobile">
  <div class="newsletter-embed">
    <script async src="https://subscribe-forms.beehiiv.com/v3/loader.js" data-beehiiv-form="c48f5bc1-80ee-479b-b238-d7fe9d839504"></script>
  </div>
</div>
