<div class="sp-sidebar-nav">
  <span class="card-label">A2 SPEAKING TOPICS</span>
  <ul class="sp-sidebar-list">
    <li><a href="/sproochentest/gesondheet/" class="{% if page.url == '/sproochentest/gesondheet/' %}sp-active{% endif %}">Gesondheet</a></li>
    <li><a href="/sproochentest/kaddoen/" class="{% if page.url == '/sproochentest/kaddoen/' %}sp-active{% endif %}">Kaddoen</a></li>
    <li><a href="/sproochentest/kreativitaeit-hobbyen/" class="{% if page.url == '/sproochentest/kreativitaeit-hobbyen/' %}sp-active{% endif %}">Kreativitéit / Hobbyen</a></li>
    <li><a href="/sproochentest/liesen/" class="{% if page.url == '/sproochentest/liesen/' %}sp-active{% endif %}">Liesen</a></li>
    <li><a href="/sproochentest/medien-technologien/" class="{% if page.url == '/sproochentest/medien-technologien/' %}sp-active{% endif %}">Medien / Technologien</a></li>
    <li><a href="/sproochentest/moud-kleeder/" class="{% if page.url == '/sproochentest/moud-kleeder/' %}sp-active{% endif %}">Moud & Kleeder</a></li>
    <li><a href="/sproochentest/reesen-vakanz/" class="{% if page.url == '/sproochentest/reesen-vakanz/' %}sp-active{% endif %}">Reesen / Vakanz</a></li>
    <li><a href="/sproochentest/sport/" class="{% if page.url == '/sproochentest/sport/' %}sp-active{% endif %}">Sport</a></li>
    <li><a href="/sproochentest/sproochen/" class="{% if page.url == '/sproochentest/sproochen/' %}sp-active{% endif %}">Sproochen</a></li>
    <li><a href="/sproochentest/akafen/" class="{% if page.url == '/sproochentest/akafen/' %}sp-active{% endif %}">Akafen</a></li>
    <li><a href="/sproochentest/summer-wantar/" class="{% if page.url == '/sproochentest/summer-wantar/' %}sp-active{% endif %}">Summer / Wantar</a></li>
    <li><a href="/sproochentest/wunnen/" class="{% if page.url == '/sproochentest/wunnen/' %}sp-active{% endif %}">Wunnen</a></li>
    <li><a href="/sproochentest/tourismus/" class="{% if page.url == '/sproochentest/tourismus/' %}sp-active{% endif %}">Tourismus</a></li>
    <li><a href="/sproochentest/musek/" class="{% if page.url == '/sproochentest/musek/' %}sp-active{% endif %}">Musek</a></li>
    <li><a href="/sproochentest/transport/" class="{% if page.url == '/sproochentest/transport/' %}sp-active{% endif %}">Transport</a></li>
  </ul>
  <a href="/sproochentest/" class="sp-sidebar-back">← Back to Sproochentest</a>
</div>
